
ros/build/
ros/devel/
*.pyc
ros/.idea
data/dbw_test.rosbag.bag
ros/src/twist_controller/*.csv
ros/src/trafficlight_capture/data/
trainer/checkpoint
trainer/data/
trainer/model/my_model3.pb
trainer/model/my_model4.pb
trainer/training_ref.txt
ros/src/tl_detector/my_model4.pb

data/traffic_light_training.bag
